<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
	<!--
		<add name="DatabaseConnectionString"
             connectionString="Data Source = DESKTOP-F7EQIKK; 
                               Initial Catalog=taller_msql; 
                               Encrypt=False;
                               Integrated Security=true"
             providerName="System.Data.SqlClient"/>
			 -->
		<add name="DatabaseConnectionString"
		connectionString = "Data Source=JAVIER;Initial Catalog=BDPaquito;Encrypt=False;Integrated Security=true"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
